{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
        <a href="{{ .Permalink }}">
            <h3>{{ .Name }}</h3>
            <span class="count">({{ $count }} {{ if eq $count 1 }}post{{ else }}posts{{ end }})</span>
            {{- if .Description }}
            <p class="series-description">{{ .Description }}</p>
            {{- end }}
        </a>
    </li>
    {{- end }}
    {{- end }}
</ul>

{{- end }}{{- /* end main */ -}}